@page
@model DigiLearn.Web.Pages.Auth.RegisterModel
@{
    Layout = "Shared/_Auth";
    ViewData["title"] = "  ثبت نام در سایت";
}


<form class="row register mt-4 pt-0" method="post">
    <div class="col-12 text-danger" asp-validation-summary="All">

    </div>    
    <div class="phone mb-5 col-12">
        <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="موبایل">
    </div>
    <div class="password mb-5 col-12 col-xl-6 col-lg-6">
        <input type="password" class="form-control" asp-for="Password" placeholder="کلمه عبور">
    </div>
    <div class="rePassword mb-5 col-12 col-xl-6 col-lg-6">
        <input type="password" class="form-control" asp-for="ConfirmedPassword" placeholder="تکرار کلمه عبور">
    </div>
    <button class="btn btn-success btn-register  mt-4 d-flex justify-content-center align-items-center">
        <span> ثبت نام</span>
        <i class="fa fa-chevron-left"></i>
    </button>
</form>


@*<div class="login-footer">
    <a href="#">
        <i class="zmdi zmdi-lock"></i>
        کلمه عبور خود را فراموش کرده ام !
    </a>
    <a href="/Register.html">
        <i class="zmdi zmdi-account-add"></i>
        عضویت در سایت
    </a>
</div>*@