@page
@model DigiLearn.Web.Areas.Admin.Pages.Courses.Sections.EditEpisodeModel

@{
    ViewData["title"] = "";
    ViewData["selected"] = "";
}
<div class="card">
    <form  method="post"  class="card-body row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-12 mt-2 d-flex justify-content-end">
            <submit/>
        </div>
    </form>
</div>

